.navText{
  font-size: 15px;
  color: gray;
  padding-right: 0.5rem;
  text-decoration: none;
}

.logoText{
  font-size: 20px;
  color: darkorange;
  text-decoration: none;
}

.headerContainer {
  padding-bottom: 30px;
}

.navContainer {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;

}